{% extends 'main.html' %}

{% block body %}

<div class="login-window">
    <div class="add-window-header w-100 border border-primary rounded-top bg-primary">
        <a href="{{ url_for('main_page') }}" class="position-absolute text-light text-decoration-none h4 m-2">← Back</a>
        <h1 class="text-light text-decoration-none h4 m-2 text-center">Profile</h1>
    </div>
    <center>
        <div class="login-page-body w-100 border border-top-0 border-primary rounded-bottom">
            <form method="POST">
                <br>
                <label>Your old Password</label>
                <input type="text" name="old-password" class="form-field">
                <br><br>
                <label>Your new Password</label>
                <input type="text" name="new-password" class="form-field">
                <br><br>
                <label>Confirm your new Password</label>
                <input type="text" name="confirm-new-password" class="form-field">
                <br><br>
                <input type="submit" value="Save">
            </form>
        </div>
    </center>
</div>

{% endblock %}